* {
    outline: none;
    text-decoration: none;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 55px 20px;
}

.title {
    font-size: 30px;
    margin-bottom: 10px;
}

.detail {
    border: solid 1px #ccc;
    border-radius: 13px;
    padding: 10px;
}

.quote {
    font-size: 20px;
    margin-bottom: 30px;
}

.option {
    display: flex;
    margin-bottom: 10px;
}

.label {
    min-width: 110px;
    margin: auto 10px;
}

input {
    width: 100%;
    border: solid 1px #ccc;
    border-radius: 6px;
    padding: 3px 7px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 58px;
    height: 25px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 19px;
    width: 19px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    transform: translateX(30px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#footer {
    position: absolute;
    bottom: 0;
    display: flex;
}

#footer * {
    margin-left: 10px;
}

.container {
    display: flex;
    margin: auto;
    width: fit-content;
    max-width: 300px;
    border: 1px solid #000;
    border-radius: 7px;
    margin-top: 10px;
    padding: 7px;
    visibility: hidden;
}

.text {
    margin: auto 0;
    word-break: break-all;
}

.img {
    position: relative;
    width: 25px;
    min-width: 25px;
    margin-left: 8px;
    cursor: pointer;
}

.img img {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    transition: transform 0.5s;
}

.swap {
    transform: scale(0);
}
